
.col-sm-4{
    display: grid;
    grid-template-columns: auto auto auto auto; 
    gap: 25px;
}

.card-edit{
    text-align: center;
    filter: drop-shadow(black 2px 4px 6px);
    width: 250px;
    height: 446px;
}
.card-body-edit{
    background-color: aliceblue;
    border-radius: 31px 31px 0px 0px;
}
.card-button-edit{
    background-color: #8adddd;
    color: black;
    font-size: 15px;
    border: unset;
    padding: 7px 13px;
    border-radius: 11px;
}