
.col-sm-4{
    display: grid;
    grid-template-columns: auto auto auto auto; 
    gap: 25px;
}

.card-edit{
    text-align: center;
    width: 250px;
    height: 446px;
    border-radius: 12px;
    padding: 10px 10px;
    border-color: #010202;
}
.card-edit:hover{
    filter: drop-shadow(0px 1px 4px black);
}
.card-body-edit{
    background-color: aliceblue;
    border-radius: 31px 31px 0px 0px;
    margin-top: 15px;
}
.card-button-edit{
    background-color: #8adddd;
    color: black;
    font-size: 15px;
    border: unset;
    padding: 7px 13px;
    border-radius: 11px;
}
.heading-edit{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 38px;
}
.Price-card-edit{
    font-size: 20px;
    font-family: cursive;
    color: black;
}
.fulldiv-Edit{
    margin-top: 35px;
}
.Singup-page-edit{
    width: 650px;
    height: auto;
    border: 1px double #c6c6c6;
    padding: 20px 22px;
    margin-top: 37px;
    margin-bottom: 66px;
    margin-inline: auto;
    border-radius: 11px;
}
.Login-div-edit{
    width: 650px;
    height: auto;
    border: 1px double #c6c6c6;
    padding: 20px 22px;
    margin-top: 37px;
    margin-bottom: 66px;
    margin-inline: auto;
    border-radius: 11px;
}
.singup-submit-btn{
    margin-right: 15px;
}